Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Remove "all" shareable config
  README.md
  lib/index.js
Due: eslint --fix, prettier --write

Update main doc
  README.md
  docs/rules/await-async-query.md
  lib/rules/await-async-query.js
Due: eslint --fix, prettier --write

Fix header logos spacing
  README.md
Due: prettier --write

Update doc for rules
  docs/rules/await-async-query.md
  docs/rules/no-await-sync-query.md
  lib/rules/await-async-query.js
  lib/rules/no-await-sync-query.js
  lib/utils.js
Due: eslint --fix, prettier --write

Improve doc header
  README.md
Due: prettier --write

Add constants for different queries variants, methods and combinations
  lib/utils.js
Due: eslint --fix

Generate tests for all queries combinations for no-await-sync-query rules
  tests/lib/rules/no-await-sync-query.js
Due: eslint --fix

Prevent destructured debug to be used
  docs/rules/no-debug.md
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix, prettier --write

Generate tests for all queries combinations for await-async-query rules
  tests/lib/rules/await-async-query.js
Due: eslint --fix

Support the case where render is assigned to a variable
  docs/rules/no-debug.md
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix, prettier --write

Add debug to the supported rules table
  README.md
Due: prettier --write

feat: add basic working version of no-debug rule
  docs/rules/no-debug.md
  lib/index.js
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix, prettier --write

feat: add no-debug
  README.md
  docs/rules/no-debug.md
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix, prettier --write

docs: add documentation url to no-debug
  lib/rules/no-debug.js
Due: eslint --fix

feat: add no-debug (#6)
  README.md
  docs/rules/no-debug.md
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix, prettier --write

Setup eslint plugins for jest
  .eslintrc.json
  lib/rules/await-async-query.js
  package-lock.json
  package.json
Due: eslint --fix

Add snapshot test for recommended config
  tests/__snapshots__/index.js.snap
  tests/index.js
Due: eslint --fix

Revert unnecessary eslint env
  .eslintrc.json
Due: none

Add configs for angular, react and vue
  lib/index.js
  tests/__snapshots__/index.js.snap
  tests/index.js
Due: eslint --fix

Add frameworks column to Supported Rules table
  README.md
Due: prettier --write

Fix framework logos links
  README.md
Due: prettier --write

Add category section within Shareable configurations section
  README.md
Due: prettier --write

Edit headers
  README.md
Due: prettier --write

feat: add commitlint and commit-msg hook
  .huskyrc
  commitlint.config.js
  package-lock.json
  package.json
Due: eslint --fix

Simplify configs tests cases with each util
  tests/index.js
Due: eslint --fix

feat: add commitlint and commit-msg hook (#8)
  .huskyrc
  commitlint.config.js
  package-lock.json
  package.json
Due: eslint --fix

feat: add commitlint and commit-msg hook (#8)
  .huskyrc
  commitlint.config.js
  package.json
Due: eslint --fix

Setup eslint plugins for jest
  .eslintrc.json
Due: none

build: merge package-lock
  package-lock.json
Due: none

Setup eslint plugins for jest
  .eslintrc.json
  lib/rules/await-async-query.js
  package.json
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.md
