Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "*.md": ["prettier --write", "git add"]
}

fix(await-async-query): references is not iterable / cant parse expect(findBy*) (#50)
  lib/rules/await-async-query.js
  tests/lib/rules/await-async-query.js
Due: eslint --fix

fix: prefer explicit assert should check if node property is accessed
  lib/rules/prefer-explicit-assert.js
  tests/lib/rules/prefer-explicit-assert.js
Due: eslint --fix

fix(prefer-explicit-assert): check if node property is accessed (#52)
  lib/rules/prefer-explicit-assert.js
  tests/lib/rules/prefer-explicit-assert.js
Due: eslint --fix

test: 100% coverage
  lib/rules/prefer-explicit-assert.js
  lib/utils.js
  tests/lib/rules/prefer-explicit-assert.js
Due: eslint --fix

test: 100% coverage (#53)
  lib/rules/prefer-explicit-assert.js
  lib/utils.js
  tests/lib/rules/prefer-explicit-assert.js
Due: eslint --fix

feat(rule): add data-testid rule
  README.md
  docs/rules/data-testid.md
  lib/index.js
  lib/rules/data-testid.js
  tests/lib/rules/data-testid.js
Due: eslint --fix, prettier --write

chore(consistent-data-testid): address pr feedback
  README.md
  docs/rules/consistent-data-testid.md
  docs/rules/data-testid.md
  lib/index.js
  lib/rules/consistent-data-testid.js
  tests/lib/rules/consistent-data-testid.js
Due: eslint --fix, prettier --write

feat(testid): support configurable attribute
  lib/rules/consistent-data-testid.js
  tests/lib/rules/consistent-data-testid.js
Due: eslint --fix

chore(consistent-data-testid): update docs
  docs/rules/consistent-data-testid.md
Due: prettier --write

chore(consistent-data-testid): fix coverage
  lib/rules/consistent-data-testid.js
  tests/lib/rules/consistent-data-testid.js
Due: eslint --fix

feat(rule): add data-testid rule (#56)
  README.md
  docs/rules/consistent-data-testid.md
  lib/index.js
  lib/rules/consistent-data-testid.js
  tests/lib/rules/consistent-data-testid.js
Due: eslint --fix, prettier --write

fix(prefer-expect-query-by): remove rule from recommended preset
  lib/index.js
  tests/__snapshots__/index.test.js.snap
Due: eslint --fix

docs(prefer-expect-query-by): improve use cases and motivation
  docs/rules/prefer-expect-query-by.md
Due: prettier --write

docs(prefer-expect-query-by): get examples without negation back
  docs/rules/prefer-expect-query-by.md
Due: prettier --write

Remove `prefer-expect-query-by` rule from shareable configs (#60)
  docs/rules/prefer-expect-query-by.md
  lib/index.js
  tests/__snapshots__/index.test.js.snap
Due: eslint --fix, prettier --write

feat: add support for resolves/rejects matchers in async queries
  lib/rules/await-async-query.js
  tests/lib/rules/await-async-query.js
Due: eslint --fix

fix: check if there is an expect matcher
  lib/rules/await-async-query.js
Due: eslint --fix

docs: add example for resolves/reject matcher in async queries
  docs/rules/await-async-query.md
Due: prettier --write

feat: add support for resolves/rejects matchers in async queries (#64)
  docs/rules/await-async-query.md
  lib/rules/await-async-query.js
  tests/lib/rules/await-async-query.js
Due: eslint --fix, prettier --write

chore: replace previous repo references
  README.md
  lib/rules/prefer-expect-query-by.js
  lib/utils.js
  package.json
Due: eslint --fix, prettier --write

docs: fix contributors badge
  README.md
Due: prettier --write

chore: replace previous repo references (#66)
  README.md
  lib/rules/prefer-expect-query-by.js
  lib/utils.js
  package.json
Due: eslint --fix, prettier --write

docs: fix contributors badge (#67)
  README.md
Due: prettier --write

feat: add basic rule for no-get-by-for-absent-elements
  docs/rules/no-get-by-for-absent-elements.md
  lib/index.js
  lib/rules/no-get-by-for-absent-elements.js
  tests/lib/rules/no-get-by-for-absent-elements.js
Due: eslint --fix, prettier --write

feat: add support for waitForElementToBeRemoved
  lib/rules/no-get-by-for-absent-elements.js
  tests/lib/rules/no-get-by-for-absent-elements.js
Due: eslint --fix

docs: add no-get-by-for-absent-elements
  README.md
  docs/rules/no-get-by-for-absent-elements.md
  lib/rules/no-get-by-for-absent-elements.js
Due: eslint --fix, prettier --write

docs: change rule name
  README.md
  docs/rules/no-get-by-for-asserting-element-not-present.md
  lib/index.js
  lib/rules/no-get-by-for-asserting-element-not-present.js
  tests/lib/rules/no-get-by-for-asserting-element-not-present.js
Due: eslint --fix, prettier --write

refactor: remove prefer-expect-query-by
  README.md
  docs/rules/prefer-expect-query-by.md
  lib/index.js
  lib/rules/prefer-expect-query-by.js
  tests/lib/rules/prefer-expect-query-by.js
Due: eslint --fix, prettier --write

test: add combinations of query and rendered.query in rule
  tests/lib/rules/no-get-by-for-asserting-element-not-present.js
Due: eslint --fix

fix: address PR feedback
  README.md
  docs/rules/no-get-by-for-asserting-element-not-present.md
  lib/rules/no-get-by-for-asserting-element-not-present.js
  tests/lib/rules/no-get-by-for-asserting-element-not-present.js
Due: eslint --fix, prettier --write

fix: GitHub badges
  README.md
Due: prettier --write

fix: remove useless br tag
  README.md
Due: prettier --write

docs: github badges (#68)
  README.md
Due: prettier --write

fix: address PR feedback
  README.md
  docs/rules/no-get-by-for-checking-element-not-present.md
  lib/index.js
  lib/rules/no-get-by-for-checking-element-not-present.js
  tests/lib/rules/no-get-by-for-checking-element-not-present.js
Due: eslint --fix, prettier --write

docs(await-async-utils): rule details
  docs/rules/await-async-utils.md
Due: prettier --write

feat: new rule await-async-utils
  README.md
  docs/rules/await-async-utils.md
  lib/index.js
  lib/rules/await-async-utils.js
  lib/utils.js
  tests/__snapshots__/index.test.js.snap
  tests/lib/rules/await-async-utils.js
Due: eslint --fix, prettier --write

docs: update util comment
  lib/rules/await-async-utils.js
Due: eslint --fix

test(await-async-utils): add extra test
  tests/lib/rules/await-async-utils.js
Due: eslint --fix

test(await-async-utils): increase coverage
  tests/lib/rules/await-async-utils.js
Due: eslint --fix
