Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add prefer-explicit-assert rule (#29)
  README.md
  docs/rules/prefer-explicit-assert.md
  lib/index.js
  lib/rules/prefer-explicit-assert.js
  tests/lib/rules/prefer-explicit-assert.js
Due: eslint --fix, prettier --write

feat: support for not
  docs/rules/prefer-enabled-disabled.md
  lib/rules/prefer-enabled-disabled.js
  tests/lib/rules/prefer-enabled-disabled.js
Due: eslint --fix, prettier --write

feat: don't use not on toBeDisabled/Enabled
  lib/rules/prefer-enabled-disabled.js
  tests/lib/rules/prefer-enabled-disabled.js
Due: eslint --fix

fix: little refactoring
  lib/rules/prefer-enabled-disabled.js
Due: eslint --fix

chore: addressed PR feedback
  docs/rules/jest-dom-prefer-enabled-disabled.md
  docs/rules/prefer-enabled-disabled.md
  lib/index.js
  lib/rules/jest-dom-prefer-enabled-disabled.js
  tests/lib/rules/jest-dom-prefer-enabled-disabled.js
Due: eslint --fix, prettier --write

fix: added url
  lib/rules/jest-dom-prefer-enabled-disabled.js
Due: eslint --fix

docs: added to home page
  README.md
Due: prettier --write

docs: changed prefer enabled disabled to recommended
  README.md
  lib/rules/jest-dom-prefer-enabled-disabled.js
Due: eslint --fix, prettier --write

docs: added to recommended
  lib/index.js
  tests/__snapshots__/index.test.js.snap
Due: eslint --fix

docs: fixed typo in readme
  README.md
Due: prettier --write

docs: more docs
  docs/rules/jest-dom-prefer-enabled-disabled.md
Due: prettier --write

chore: removed comments
  tests/lib/rules/jest-dom-prefer-enabled-disabled.js
Due: eslint --fix

docs: add code of conduct
  CODE_OF_CONDUCT.md
Due: prettier --write

docs: add code of conduct (#34)
  CODE_OF_CONDUCT.md
Due: prettier --write

Update docs/rules/jest-dom-prefer-enabled-disabled.md
  docs/rules/jest-dom-prefer-enabled-disabled.md
Due: prettier --write

chore: addressed PR feedback
  README.md
  docs/rules/jest-dom-prefer-enabled-disabled.md
  lib/index.js
  lib/rules/jest-dom-prefer-enabled-disabled.js
  tests/__snapshots__/index.test.js.snap
  tests/lib/rules/jest-dom-prefer-enabled-disabled.js
Due: eslint --fix, prettier --write

fix: added another valid test
  tests/lib/rules/jest-dom-prefer-enabled-disabled.js
Due: eslint --fix

test: reach 100% code coverage
  lib/rules/await-async-query.js
  lib/rules/await-fire-event.js
  tests/lib/rules/prefer-expect-query-by.js
Due: eslint --fix

feat: added rules for checked & required
  jest.config.js
  lib/createBannedAttributeRule.js
  lib/index.js
  lib/rules/jest-dom-prefer-checked.js
  lib/rules/jest-dom-prefer-required.js
  tests/fixtures/createBannedAttributeTestCases.js
  tests/index.test.js
  tests/lib/rules/jest-dom-no-attribute-checking.js
  tests/lib/rules/jest-dom-prefer-enabled-disabled.js
Due: eslint --fix

test: reach 100% code coverage (#35)
  lib/rules/await-async-query.js
  lib/rules/await-fire-event.js
  tests/lib/rules/prefer-expect-query-by.js
Due: eslint --fix

test: enforce 100% coverage on CI
  jest.config.js
  package-lock.json
  package.json
Due: eslint --fix

test: enforce 100% coverage on CI (#37)
  jest.config.js
  package-lock.json
  package.json
Due: eslint --fix

ci: limit branches to master
  .travis.yml
Due: none

ci: limit branches to master (#38)
  .travis.yml
Due: none

fix: prefer-explicit-assert options example
  docs/rules/prefer-explicit-assert.md
Due: prettier --write

fix: prefer-explicit-assert options example (#39)
  docs/rules/prefer-explicit-assert.md
Due: prettier --write

fix(prefer-explicit-assert): avoid raising error on destructuring
  lib/rules/prefer-explicit-assert.js
  tests/lib/rules/prefer-explicit-assert.js
Due: eslint --fix

fix(prefer-explicit-assert): avoid raising error on array statements
  lib/rules/prefer-explicit-assert.js
  tests/lib/rules/prefer-explicit-assert.js
Due: eslint --fix

fix(prefer-explicit-assert): allow object declarations
  lib/rules/prefer-explicit-assert.js
  lib/utils.js
  tests/lib/rules/prefer-explicit-assert.js
Due: eslint --fix

fix: prefer-explicit-assert raising error on destructuring statement (#43)
  lib/rules/prefer-explicit-assert.js
  lib/utils.js
  tests/lib/rules/prefer-explicit-assert.js
Due: eslint --fix

docs: fix broken link to prefer-expect-query-by
  docs/rules/prefer-explicit-assert.md
Due: prettier --write

docs: fix broken link to prefer-expect-query-by (#46)
  docs/rules/prefer-explicit-assert.md
Due: prettier --write

fix: references is not iterable / cant parse expect(findBy*)
  lib/rules/await-async-query.js
  tests/lib/rules/await-async-query.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.md
