Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: address review comments
  docs/rules/no-render-in-setup.md
  lib/rules/no-render-in-setup.ts
  lib/utils.ts
  tests/lib/rules/no-render-in-setup.test.ts
Due: prettier --write

Update docs/rules/no-render-in-setup.md
  docs/rules/no-render-in-setup.md
Due: prettier --write

fix: updates docs, adds tests
  docs/rules/no-render-in-setup.md
  lib/node-utils.ts
  tests/lib/rules/no-render-in-setup.test.ts
Due: prettier --write

fix: handle require, add tests
  lib/node-utils.ts
  lib/rules/no-debug.ts
  lib/rules/no-render-in-setup.ts
  tests/lib/rules/no-render-in-setup.test.ts
Due: none

fix: code coverage
  lib/rules/no-render-in-setup.ts
  tests/lib/rules/no-render-in-setup.test.ts
Due: none

feat: add support for multiple test id attributes
  docs/rules/consistent-data-testid.md
  lib/rules/consistent-data-testid.ts
  tests/lib/rules/consistent-data-testid.test.ts
Due: prettier --write

feat: new no-render-in-setup rule (#209)
  README.md
  docs/rules/no-render-in-setup.md
  lib/index.ts
  lib/node-utils.ts
  lib/rules/no-debug.ts
  lib/rules/no-manual-cleanup.ts
  lib/rules/no-render-in-setup.ts
  lib/utils.ts
  tests/lib/rules/no-render-in-setup.test.ts
Due: prettier --write

feat: add support for multiple test id attributes (#211)
  docs/rules/consistent-data-testid.md
  lib/rules/consistent-data-testid.ts
  tests/lib/rules/consistent-data-testid.test.ts
Due: prettier --write

chore: updating dev deps. check formatting on travis ci
  .huskyrc
  .lintstagedrc
  .travis.yml
  package-lock.json
  package.json
Due: none

chore: fixing readme.md formatting with prettier
  README.md
Due: prettier --write

chore: update prettier and ci to format and check ts files
  lib/node-utils.ts
  lib/rules/prefer-screen-queries.ts
  package-lock.json
  package.json
  tests/lib/rules/prefer-find-by.test.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: none

chore: force fail ci with formatting
  lib/rules/prefer-find-by.ts
Due: none

chore: test ci fail with eslint
  lib/rules/prefer-find-by.ts
Due: none

chore: fix unused variable
  lib/rules/prefer-find-by.ts
Due: none

chore: lint and format on pre-commit and ci
  .huskyrc
  .lintstagedrc
  .travis.yml
  lib/node-utils.ts
  lib/rules/no-multiple-assertions-wait-for.ts
  lib/rules/no-node-access.ts
  lib/rules/no-side-effects-wait-for.ts
  lib/rules/prefer-screen-queries.ts
  lib/rules/prefer-user-event.ts
  package-lock.json
  package.json
  tests/lib/rules/no-multiple-assertions-wait-for.test.ts
  tests/lib/rules/no-side-effects-wait-for.test.ts
  tests/lib/rules/prefer-find-by.test.ts
  tests/lib/rules/prefer-screen-queries.test.ts
  tests/lib/rules/prefer-user-event.test.ts
Due: none

docs: new utils commenting their approaches
  lib/node-utils.ts
  lib/rules/render-result-naming-convention.ts
  tests/lib/rules/render-result-naming-convention.test.ts
Due: none

chore: changing stage name in travis ci conf
  .travis.yml
Due: none

chore: lint and format on pre-commit and ci (#216)
  .huskyrc
  .lintstagedrc
  .travis.yml
  lib/node-utils.ts
  lib/rules/no-multiple-assertions-wait-for.ts
  lib/rules/no-node-access.ts
  lib/rules/no-side-effects-wait-for.ts
  lib/rules/prefer-screen-queries.ts
  lib/rules/prefer-user-event.ts
  package-lock.json
  package.json
  tests/lib/rules/no-multiple-assertions-wait-for.test.ts
  tests/lib/rules/no-side-effects-wait-for.test.ts
  tests/lib/rules/prefer-find-by.test.ts
  tests/lib/rules/prefer-screen-queries.test.ts
  tests/lib/rules/prefer-user-event.test.ts
Due: none

feat: add 'assertion' config option to prefer-explicit-assert
  docs/rules/prefer-explicit-assert.md
  lib/rules/prefer-explicit-assert.ts
  tests/lib/rules/prefer-explicit-assert.test.ts
Due: prettier --write

feat(prefer-explicit-assert): add 'assertion' config option (#220)
  docs/rules/prefer-explicit-assert.md
  lib/rules/prefer-explicit-assert.ts
  tests/lib/rules/prefer-explicit-assert.test.ts
Due: prettier --write

feat: 🎸 new no-wait-for-snapshot rule
  README.md
  docs/rules/no-wait-for-snapshot.test.md
  lib/index.ts
  lib/node-utils.ts
  lib/rules/no-wait-for-snapshot.ts
  tests/lib/rules/no-wait-for-snapshot.test.ts
Due: prettier --write

feat: new no-wait-for-snapshot rule (#223)
  README.md
  docs/rules/no-wait-for-snapshot.test.md
  lib/index.ts
  lib/node-utils.ts
  lib/rules/no-wait-for-snapshot.ts
  tests/lib/rules/no-wait-for-snapshot.test.ts
Due: prettier --write

docs: fix link to no-wait-for-snapshot.md
  docs/rules/no-wait-for-snapshot.md
Due: prettier --write

docs(no-wait-for-snapshot): fix link to rule doc (#225)
  docs/rules/no-wait-for-snapshot.md
Due: prettier --write

chore: remove package lock
  .npmrc
  package-lock.json
Due: none

Update .travis.yml
  .travis.yml
Due: none

feat: support ESLint 7.x
  .travis.yml
  lib/rules/consistent-data-testid.ts
  lib/rules/no-debug.ts
  lib/rules/no-render-in-setup.ts
  lib/rules/prefer-find-by.ts
  package-lock.json
  package.json
Due: none

feat: support ESLint 7.x (#139)
  .travis.yml
  lib/rules/consistent-data-testid.ts
  lib/rules/no-debug.ts
  lib/rules/no-render-in-setup.ts
  lib/rules/prefer-find-by.ts
  package-lock.json
  package.json
Due: none

chore: update dependencies
  .gitignore
  commitlint.config.js
  package-lock.json
  package.json
Due: eslint --fix

chore: run Prettier on full codebase
  lib/node-utils.ts
  lib/rules/no-debug.ts
  lib/rules/prefer-screen-queries.ts
  tests/lib/rules/prefer-find-by.test.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: none

chore: update dependencies + run prettier on codebase (#232)
  .gitignore
  commitlint.config.js
  lib/node-utils.ts
  lib/rules/no-debug.ts
  lib/rules/prefer-screen-queries.ts
  package-lock.json
  package.json
  tests/lib/rules/prefer-find-by.test.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: eslint --fix

chore: merge master into v4 (#233)
  .all-contributorsrc
  .gitignore
  .travis.yml
  README.md
  commitlint.config.js
  docs/rules/no-wait-for-snapshot.md
  docs/rules/prefer-explicit-assert.md
  lib/index.ts
  lib/node-utils.ts
  lib/rules/consistent-data-testid.ts
  lib/rules/no-container.ts
  lib/rules/no-debug.ts
  lib/rules/no-multiple-assertions-wait-for.ts
  lib/rules/no-node-access.ts
  lib/rules/no-render-in-setup.ts
  lib/rules/no-side-effects-wait-for.ts
  lib/rules/no-wait-for-snapshot.ts
  lib/rules/prefer-explicit-assert.ts
  lib/rules/prefer-find-by.ts
  lib/rules/render-result-naming-convention.ts
  lib/utils.ts
  package-lock.json
  package.json
  tests/lib/rules/consistent-data-testid.test.ts
  tests/lib/rules/no-wait-for-snapshot.test.ts
  tests/lib/rules/prefer-explicit-assert.test.ts
  tests/lib/rules/render-result-naming-convention.test.ts
  tests/lib/test-utils.ts
Due: eslint --fix, prettier --write

chore: update dependencies
  .prettierrc.js
  .prettierrc.json
  .travis.yml
  lib/rules/prefer-find-by.ts
  lib/rules/prefer-wait-for.ts
  package.json
Due: eslint --fix

chore: run Prettier on full codebase
  CODE_OF_CONDUCT.md
  docs/rules/await-async-utils.md
  docs/rules/consistent-data-testid.md
  docs/rules/no-multiple-assertions-wait-for.md
  docs/rules/no-wait-for-empty-callback.md
  docs/rules/prefer-find-by.md
  lib/node-utils.ts
  lib/rules/await-async-utils.ts
  lib/rules/await-fire-event.ts
  lib/rules/no-container.ts
  lib/rules/no-debug.ts
  lib/rules/no-dom-import.ts
  lib/rules/no-manual-cleanup.ts
  lib/rules/no-multiple-assertions-wait-for.ts
  lib/rules/no-promise-in-fire-event.ts
  lib/rules/no-render-in-setup.ts
  lib/rules/no-side-effects-wait-for.ts
  lib/rules/no-wait-for-empty-callback.ts
  lib/rules/no-wait-for-snapshot.ts
  lib/rules/prefer-explicit-assert.ts
  lib/rules/prefer-find-by.ts
  lib/rules/prefer-screen-queries.ts
  lib/rules/prefer-user-event.ts
  lib/rules/prefer-wait-for.ts
  lib/rules/render-result-naming-convention.ts
  lib/utils.ts
  tests/index.test.ts
  tests/lib/rules/await-async-query.test.ts
  tests/lib/rules/await-async-utils.test.ts
  tests/lib/rules/no-await-sync-query.test.ts
  tests/lib/rules/no-manual-cleanup.test.ts
  tests/lib/rules/no-render-in-setup.test.ts
  tests/lib/rules/no-wait-for-empty-callback.test.ts
  tests/lib/rules/no-wait-for-snapshot.test.ts
  tests/lib/rules/prefer-explicit-assert.test.ts
  tests/lib/rules/prefer-find-by.test.ts
  tests/lib/rules/prefer-presence-queries.test.ts
  tests/lib/rules/prefer-screen-queries.test.ts
  tests/lib/rules/prefer-user-event.test.ts
Due: prettier --write

build: add npmrc file
  .npmrc
Due: none

refactor: first approach for testing library detection
  lib/rules/no-node-access.ts
  lib/testing-library-detection.ts
Due: none

refactor: move testing library detection to high-order function
  lib/testing-library-detection.ts
Due: none

fix: consider promise.all() in await-async-utils
  docs/rules/await-async-utils.md
  jest.config.js
  lib/node-utils.ts
  lib/rules/await-async-utils.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --fix, prettier --write

fix(await-async-utils): consider promise.all (#236)
  docs/rules/await-async-utils.md
  jest.config.js
  lib/node-utils.ts
  lib/rules/await-async-utils.ts
  tests/lib/rules/await-async-utils.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.md
