Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(no-debug): added docs
  docs/rules/no-debug.md
Due: prettier --write

feat(no-debug): option for render function names (#19)
  docs/rules/no-debug.md
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix, prettier --write

chore: fix package version temporary
  package.json
Due: none

chore: recover semantic release package version
  .travis.yml
  package.json
Due: none

docs(readme): improve title and supported table rules
  README.md
Due: prettier --write

docs(readme): add badges
  README.md
Due: prettier --write

docs(readme): fix badges urls
  README.md
Due: prettier --write

docs(readme): fix more badges urls
  README.md
Due: prettier --write

docs(readme): make semantic-release badge squared
  README.md
Due: prettier --write

docs(readme): add stars on github badge
  README.md
Due: prettier --write

feat(rule): prefer expect queryBy
  README.md
  docs/rules/prefer-expect-query-by.md
  lib/index.js
  lib/rules/prefer-expect-query-by.js
  package-lock.json
  tests/__snapshots__/index.test.js.snap
  tests/lib/rules/prefer-expect-query-by.js
Due: eslint --fix, prettier --write

chore: regenerate lockfile
  package-lock.json
Due: none

refactor: improve docs and tests, include also findBy
  README.md
  docs/rules/prefer-expect-query-by.md
  lib/rules/prefer-expect-query-by.js
  tests/lib/rules/prefer-expect-query-by.js
Due: eslint --fix, prettier --write

refactor: remove occurrences of findBy
  docs/rules/prefer-expect-query-by.md
  lib/rules/prefer-expect-query-by.js
  tests/lib/rules/prefer-expect-query-by.js
Due: eslint --fix, prettier --write

refactor: generate test cases for all query methods
  tests/lib/rules/prefer-expect-query-by.js
Due: eslint --fix

refactor: disable autofix implementation
  lib/rules/prefer-expect-query-by.js
  tests/lib/rules/prefer-expect-query-by.js
Due: eslint --fix

refactor: remove fixable badge
  README.md
Due: prettier --write

refactor: fixable option to null
  lib/rules/prefer-expect-query-by.js
Due: eslint --fix

feat(rule): prefer expect queryBy (#22)
  README.md
  docs/rules/prefer-expect-query-by.md
  lib/index.js
  lib/rules/prefer-expect-query-by.js
  package-lock.json
  tests/__snapshots__/index.test.js.snap
  tests/lib/rules/prefer-expect-query-by.js
Due: eslint --fix, prettier --write

Fix typo
  docs/rules/prefer-expect-query-by.md
Due: prettier --write

Update docs/rules/prefer-expect-query-by.md
  docs/rules/prefer-expect-query-by.md
Due: prettier --write

docs(prefer-expect-query-by): fix typo (#23)
  docs/rules/prefer-expect-query-by.md
Due: prettier --write

docs: add @Belco90 as a contributor
  .all-contributorsrc
  README.md
Due: prettier --write

docs: add @thomlom as a contributor
  .all-contributorsrc
  README.md
Due: prettier --write

docs: update @Belco90 as a contributor
  .all-contributorsrc
  README.md
Due: prettier --write

docs: update @thomlom as a contributor
  .all-contributorsrc
  README.md
Due: prettier --write

docs: fix contributors badge
  README.md
Due: prettier --write

docs: fix contributors link
  README.md
Due: prettier --write

feat: add no-get-by-assert rule
  README.md
  docs/rules/no-get-by-assert.md
  lib/index.js
  lib/rules/no-get-by-assert.js
  tests/lib/rules/no-get-by-assert.js
Due: eslint --fix, prettier --write

refactor: rename no-get-by-assert rule to prefer-explicit-assert
  README.md
  docs/rules/prefer-explicit-assert.md
  lib/index.js
  lib/rules/prefer-explicit-assert.js
  tests/lib/rules/prefer-explicit-assert.js
Due: eslint --fix, prettier --write

docs(prefer-explicit-assert): add references to prefer-expect-query-by
  docs/rules/prefer-explicit-assert.md
Due: prettier --write

feat(prefer-explicit-assert): add option for custom queries
  docs/rules/prefer-explicit-assert.md
  lib/rules/prefer-explicit-assert.js
  tests/lib/rules/prefer-explicit-assert.js
Due: eslint --fix, prettier --write

feat(prefer-explicit-assert): improve error message
  lib/rules/prefer-explicit-assert.js
Due: eslint --fix

refactor(prefer-explicit-assert): rename error message id
  lib/rules/prefer-explicit-assert.js
  tests/lib/rules/prefer-explicit-assert.js
Due: eslint --fix

fix(prefer-explicit-assert): rename option argument
  docs/rules/prefer-explicit-assert.md
  lib/rules/prefer-explicit-assert.js
  tests/lib/rules/prefer-explicit-assert.js
Due: eslint --fix, prettier --write

fix(prefer-explicit-assert): check queries when not destructured
  lib/rules/prefer-explicit-assert.js
  tests/lib/rules/prefer-explicit-assert.js
Due: eslint --fix

docs(prefer-explicit-assert): add non-destructured queries examples
  docs/rules/prefer-explicit-assert.md
Due: prettier --write

feat: added prefer enabled disabled
  docs/rules/prefer-enabled-disabled.md
  lib/rules/prefer-enabled-disabled.js
  tests/lib/rules/prefer-enabled-disabled.js
Due: eslint --fix, prettier --write

fix: unit test and updated docs
  docs/rules/prefer-enabled-disabled.md
  lib/index.js
Due: eslint --fix, prettier --write

feat: added toHaveAttribute
  docs/rules/prefer-enabled-disabled.md
  lib/rules/prefer-enabled-disabled.js
  tests/lib/rules/prefer-enabled-disabled.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.md
