Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "*.md": ["prettier --write", "git add"]
}

Simplify configs tests cases with each util
  tests/index.js
Due: eslint --fix

Setup eslint plugins for jest
  .eslintrc.json
Due: none

build: merge package-lock
  package-lock.json
Due: none

feat: add shareable framework configs (#7)
  .eslintrc.json
  README.md
  lib/index.js
  lib/rules/await-async-query.js
  package-lock.json
  package.json
  tests/__snapshots__/index.js.snap
  tests/index.js
Due: eslint --fix, prettier --write

fix: include no-debug in exported rules
  lib/index.js
  tests/__snapshots__/index.test.js.snap
  tests/index.js
  tests/index.test.js
Due: eslint --fix

fix: check if callee exists
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix

fix: check if node init exists
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix

test: add failing test for await-async-query false positive
  tests/lib/rules/await-async-query.js
Due: eslint --fix

fix: fix immediately awaited call assigned to var
  lib/rules/await-async-query.js
  tests/lib/rules/await-async-query.js
Due: eslint --fix

feat: add test on pre-commit
  .huskyrc
Due: none

fix: immediately awaited assign to var (#9)
  .huskyrc
  lib/rules/await-async-query.js
  tests/lib/rules/await-async-query.js
Due: eslint --fix

fix: report query instead of var reference
  lib/rules/await-async-query.js
  tests/lib/rules/await-async-query.js
Due: eslint --fix

fix: report query instead of var reference (#10)
  lib/rules/await-async-query.js
  tests/lib/rules/await-async-query.js
Due: eslint --fix

feat: add no-dom-import rule
  lib/rules/no-dom-import.js
Due: eslint --fix

test: add no-dom-import tests
  tests/lib/rules/no-dom-import.js
Due: eslint --fix

docs: add no-dom-import docs
  README.md
  docs/rules/no-dom-import.md
  tests/lib/rules/no-dom-import.js
Due: eslint --fix, prettier --write

docs: update no-dom-import docs
  docs/rules/no-dom-import.md
Due: prettier --write

Feature/rule no dom import (#11)
  README.md
  docs/rules/no-dom-import.md
  lib/rules/no-dom-import.js
  tests/lib/rules/no-dom-import.js
Due: eslint --fix, prettier --write

fix: remove docs folder from final bundle
  package.json
Due: none

docs: update no-await-sync-query description
  docs/rules/no-await-sync-query.md
Due: prettier --write

docs: fix dom-testing-library module reference in no-dom-import doc
  docs/rules/no-dom-import.md
Due: prettier --write

feat: suggest proper framework to import from
  lib/index.js
  lib/rules/no-dom-import.js
  tests/__snapshots__/index.test.js.snap
  tests/lib/rules/no-dom-import.js
Due: eslint --fix

Fix/several docs improvements (#13)
  docs/rules/no-await-sync-query.md
  docs/rules/no-dom-import.md
  package.json
Due: prettier --write

test: improve exported rules check
  lib/index.js
  tests/__snapshots__/index.test.js.snap
  tests/index.test.js
Due: eslint --fix

test: rename test
  tests/index.test.js
Due: eslint --fix

Feature: improve exported rules test (#15)
  lib/index.js
  tests/__snapshots__/index.test.js.snap
  tests/index.test.js
Due: eslint --fix

fix(await-async-query): avoid duplicated reports
  lib/rules/await-async-query.js
  tests/lib/rules/await-async-query.js
Due: eslint --fix

fix: report error depending on dom library's name
  lib/rules/no-dom-import.js
  tests/lib/rules/no-dom-import.js
Due: eslint --fix

docs: add docs on no-dom-import framework option
  docs/rules/no-dom-import.md
Due: prettier --write

feat: add fixer for no-dom-import when option is specified
  lib/rules/no-dom-import.js
  tests/lib/rules/no-dom-import.js
Due: eslint --fix

feat(no-dom-import): suggest proper framework to import from (#14)
  docs/rules/no-dom-import.md
  lib/index.js
  lib/rules/no-dom-import.js
  tests/__snapshots__/index.test.js.snap
  tests/lib/rules/no-dom-import.js
Due: eslint --fix, prettier --write

fix(await-async-query): avoid duplicated reports (#16)
  lib/rules/await-async-query.js
  tests/lib/rules/await-async-query.js
Due: eslint --fix

docs: add autofixable column for supported rules
  README.md
Due: prettier --write

feat: add new rule await-fire-event
  README.md
  docs/rules/await-fire-event.md
  lib/index.js
  lib/rules/await-fire-event.js
  tests/__snapshots__/index.test.js.snap
  tests/lib/rules/await-fire-event.js
Due: eslint --fix, prettier --write

fix(no-dom-import): export rule with correct prefix
  lib/index.js
  tests/__snapshots__/index.test.js.snap
Due: eslint --fix

fix: update package version and include homepage
  package.json
Due: none

docs: include bugs url in package.json
  package.json
Due: none

test: improve assert for exported configs
  tests/index.test.js
Due: eslint --fix

build: semantic and travis setup
  .travis.yml
  package-lock.json
  package.json
Due: none

feat(no-debug): render function names
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix
