Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "*.md": ["prettier --write", "git add"]
}

refactor(await-async-utils): move function definition outside
  lib/rules/await-async-utils.js
Due: eslint --fix

feat: new rule await-async-utils (#69)
  README.md
  docs/rules/await-async-utils.md
  lib/index.js
  lib/rules/await-async-utils.js
  lib/utils.js
  tests/__snapshots__/index.test.js.snap
  tests/lib/rules/await-async-utils.js
Due: eslint --fix, prettier --write

docs: sort supported rules alphabetically
  README.md
Due: prettier --write

feat: new rule no-get-by-for-checking-element-not-present (#65)
  README.md
  docs/rules/no-get-by-for-checking-element-not-present.md
  docs/rules/prefer-expect-query-by.md
  lib/index.js
  lib/rules/no-get-by-for-checking-element-not-present.js
  lib/rules/prefer-expect-query-by.js
  tests/lib/rules/no-get-by-for-checking-element-not-present.js
  tests/lib/rules/prefer-expect-query-by.js
Due: eslint --fix, prettier --write

Update await-async-query.md
  docs/rules/await-async-query.md
Due: prettier --write

docs(await-async-query): fix rule details typo
  docs/rules/await-async-query.md
Due: prettier --write

feat: start no-manual-cleanup rule
  README.md
  docs/rules/no-manual-cleanup.md
  lib/index.js
  lib/rules/no-manual-cleanup.js
  tests/__snapshots__/index.test.js.snap
  tests/lib/rules/no-manual-cleanup.js
Due: eslint --fix, prettier --write

feat: no-manual-cleanup-rule
  docs/rules/no-manual-cleanup.md
  lib/index.js
  lib/rules/no-manual-cleanup.js
  tests/__snapshots__/index.test.js.snap
  tests/lib/rules/no-manual-cleanup.js
Due: eslint --fix, prettier --write

docs: remove badges no-manual-cleanup
  README.md
Due: prettier --write

docs: add skip auto cleanup
  docs/rules/no-manual-cleanup.md
Due: prettier --write

feat: add no-manual-cleanup rule (#72)
  README.md
  docs/rules/no-manual-cleanup.md
  lib/index.js
  lib/rules/no-manual-cleanup.js
  tests/lib/rules/no-manual-cleanup.js
Due: eslint --fix, prettier --write

feat(no-debug): scan for `screen.debug()`
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix

test(no-debug): improve coverage after ec38b92
  tests/lib/rules/no-debug.js
Due: eslint --fix

docs(no-debug): add `screen.debug` example
  docs/rules/no-debug.md
Due: prettier --write

docs(no-debug): add link to `screen.debug` docs
  docs/rules/no-debug.md
Due: prettier --write

docs(no-debug): remove unnecessary note
  docs/rules/no-debug.md
Due: prettier --write

Wrong link to docs in README
  README.md
Due: prettier --write

feat(no-debug): scan for `screen.debug()` (#73)
  docs/rules/no-debug.md
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix, prettier --write

docs(no-get-by-for-checking-element-not-present): fix rule reference in README (#74)
  README.md
Due: prettier --write

docs(prefer-explicit-assert): remove references to old rule
  docs/rules/prefer-explicit-assert.md
Due: prettier --write

docs(prefer-explicit-assert): remove references to old rule (#78)
  docs/rules/prefer-explicit-assert.md
Due: prettier --write

fix: support async render
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix

fix: address PR feedback
  lib/rules/no-debug.js
Due: eslint --fix

fix(no-debug): support async render (#79)
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix

fix(no-debug): ensure callee exists
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix

fix(no-debug): ensure callee exists (#81)
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix

fix: false positives for negated matchers
  docs/rules/no-get-by-for-checking-element-not-present.md
  lib/rules/no-get-by-for-checking-element-not-present.js
  package.json
  tests/lib/rules/no-get-by-for-checking-element-not-present.js
Due: eslint --fix, prettier --write

fix(no-get-by-for-checking-element-not-present): false positives for negated matchers (#84)
  docs/rules/no-get-by-for-checking-element-not-present.md
  lib/rules/no-get-by-for-checking-element-not-present.js
  package.json
  tests/lib/rules/no-get-by-for-checking-element-not-present.js
Due: eslint --fix, prettier --write

feat(prefer-wait-for): new rule prefer-wait-for
  README.md
  docs/rules/prefer-wait-for.md
  lib/index.js
  lib/rules/prefer-wait-for.js
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix, prettier --write

docs(prefer-wait-for): pr fixes
  docs/rules/prefer-wait-for.md
Due: prettier --write

test(prefer-wait-for): increase coverage
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix

refactor(prefer-wait-for): use ternary
  lib/rules/prefer-wait-for.js
Due: eslint --fix

feat(await-async-utils): reflect waitFor changes
  docs/rules/await-async-utils.md
  lib/utils.js
  tests/lib/rules/await-async-utils.js
Due: eslint --fix, prettier --write

docs(prefer-wait-for): PR small fixes
  docs/rules/prefer-wait-for.md
Due: prettier --write

test(prefer-wait-for): include imports
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix

feat(await-async-utils): reflect waitFor changes (#89)
  docs/rules/await-async-utils.md
  lib/utils.js
  tests/lib/rules/await-async-utils.js
Due: eslint --fix, prettier --write

fix(prefer-wait-for): fist attempt to report related imports
  lib/rules/prefer-wait-for.js
Due: eslint --fix

refactor(prefer-wait-for): merge wait reports under single func
  lib/rules/prefer-wait-for.js
Due: eslint --fix

fix(prefer-wait-for): fix single imports
  lib/rules/prefer-wait-for.js
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix

fix(prefer-wait-for): fix several imports
  lib/rules/prefer-wait-for.js
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix
