Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(prefer-wait-for): guard against empty named imports
  lib/rules/prefer-wait-for.js
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix

feat: add no-wait-for-empty-callback rule
  lib/index.js
  lib/rules/no-wait-for-empty-callback.js
  tests/lib/rules/no-wait-for-empty-callback.js
Due: eslint --fix

test: add tests and docs
  README.md
  docs/rules/no-wait-for-empty-callback.md
  lib/rules/no-wait-for-empty-callback.js
  tests/lib/rules/no-wait-for-empty-callback.js
Due: eslint --fix, prettier --write

ci(await-async-query): update node versions
  .travis.yml
Due: none

fix(prefer-wait-for): fix more imports cases
  lib/rules/prefer-wait-for.js
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix

feat(prefer-wait-for): new rule prefer-wait-for
  README.md
  docs/rules/prefer-wait-for.md
  lib/index.js
  lib/rules/prefer-wait-for.js
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix, prettier --write

docs(prefer-wait-for): pr fixes
  docs/rules/prefer-wait-for.md
Due: prettier --write

test(prefer-wait-for): increase coverage
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix

refactor(prefer-wait-for): use ternary
  lib/rules/prefer-wait-for.js
Due: eslint --fix

docs(prefer-wait-for): PR small fixes
  docs/rules/prefer-wait-for.md
Due: prettier --write

test(prefer-wait-for): include imports
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix

fix(prefer-wait-for): fist attempt to report related imports
  lib/rules/prefer-wait-for.js
Due: eslint --fix

refactor(prefer-wait-for): merge wait reports under single func
  lib/rules/prefer-wait-for.js
Due: eslint --fix

fix(prefer-wait-for): fix single imports
  lib/rules/prefer-wait-for.js
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix

fix(prefer-wait-for): fix several imports
  lib/rules/prefer-wait-for.js
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix

feat: new rule prefer-wait-for (#88)
  README.md
  docs/rules/prefer-wait-for.md
  lib/index.js
  lib/rules/prefer-wait-for.js
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix, prettier --write

ci: update node versions (#96)
  .travis.yml
Due: none

docs(no-wait-for-empty-callback): update rule details
  docs/rules/no-wait-for-empty-callback.md
Due: prettier --write

docs(no-wait-for-empty-callback): update rule error message
  lib/rules/no-wait-for-empty-callback.js
Due: eslint --fix

ci: optimize ci for pr
  .travis.yml
Due: none

ci: fix duplicated jobs
  .travis.yml
Due: none

revert: revert travis config
  .travis.yml
Due: none

revert: revert another travis config
  .travis.yml
Due: none

feat(prefer-screen-queries): add prefer-screen-queries
  README.md
  docs/rules/prefer-screen-queries.md
  lib/index.js
  lib/rules/prefer-screen-queries.js
  lib/utils.js
  tests/lib/rules/prefer-screen-queries.js
Due: eslint --fix, prettier --write

docs: review changes
  README.md
  docs/rules/prefer-screen-queries.md
  lib/index.js
Due: eslint --fix, prettier --write

feat: add prefer-screen-queries rule (#99)
  README.md
  docs/rules/prefer-screen-queries.md
  lib/index.js
  lib/rules/prefer-screen-queries.js
  lib/utils.js
  tests/lib/rules/prefer-screen-queries.js
Due: eslint --fix, prettier --write

refactor: repurpose obsolete rule
  README.md
  docs/rules/prefer-presence-queries.md
  lib/index.js
  lib/rules/prefer-presence-queries.js
  tests/lib/rules/prefer-presence-queries.js
Due: eslint --fix, prettier --write

docs(prefer-presence-queries): update doc accordingly
  README.md
  docs/rules/prefer-presence-queries.md
Due: prettier --write

feat(prefer-presence-queries): report presence or absence queries
  docs/rules/prefer-presence-queries.md
  lib/rules/prefer-presence-queries.js
  tests/lib/rules/prefer-presence-queries.js
Due: eslint --fix, prettier --write

test(prefer-presence-queries): add more valid cases
  tests/lib/rules/prefer-presence-queries.js
Due: eslint --fix

docs(prefer-presence-queries): fix typos
  docs/rules/prefer-presence-queries.md
  lib/rules/prefer-presence-queries.js
Due: eslint --fix, prettier --write

test(prefer-presence-queries): include correct findBy example
  docs/rules/prefer-presence-queries.md
Due: prettier --write

feat(prefer-presence-queries): include array queries
  docs/rules/prefer-presence-queries.md
  lib/rules/prefer-presence-queries.js
  tests/lib/rules/prefer-presence-queries.js
Due: eslint --fix, prettier --write

test(prefer-presence-queries): findBy typo
  docs/rules/prefer-presence-queries.md
Due: prettier --write

fix(prefer-presence-queries): guard against nil matcher
  lib/rules/prefer-presence-queries.js
Due: eslint --fix

docs(prefer-presence-queries): update appearance references
  README.md
  docs/rules/prefer-presence-queries.md
Due: prettier --write

feat: new rule prefer-presence-queries (#98)
  README.md
  docs/rules/no-get-by-for-checking-element-not-present.md
  docs/rules/prefer-presence-queries.md
  lib/index.js
  lib/rules/no-get-by-for-checking-element-not-present.js
  lib/rules/prefer-presence-queries.js
  tests/lib/rules/no-get-by-for-checking-element-not-present.js
  tests/lib/rules/prefer-presence-queries.js
Due: eslint --fix, prettier --write

feat: plugin v3 (#97)
  .travis.yml
  README.md
  docs/rules/await-async-utils.md
  docs/rules/no-get-by-for-checking-element-not-present.md
  docs/rules/no-wait-for-empty-callback.md
  docs/rules/prefer-presence-queries.md
  docs/rules/prefer-screen-queries.md
  docs/rules/prefer-wait-for.md
  lib/index.js
  lib/rules/no-get-by-for-checking-element-not-present.js
  lib/rules/no-wait-for-empty-callback.js
  lib/rules/prefer-presence-queries.js
  lib/rules/prefer-screen-queries.js
  lib/rules/prefer-wait-for.js
  lib/utils.js
  tests/lib/rules/await-async-utils.js
  tests/lib/rules/no-get-by-for-checking-element-not-present.js
  tests/lib/rules/no-wait-for-empty-callback.js
  tests/lib/rules/prefer-presence-queries.js
  tests/lib/rules/prefer-screen-queries.js
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.md
