Repository testing-library/eslint-plugin-testing-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": ["eslint --fix", "git add"],
  "*.md": ["prettier --write", "git add"]
}

fix(no-debug): check namespaced import properly
  lib/rules/no-debug.js
  tests/lib/rules/no-debug.js
Due: eslint --fix

fix(prefer-wait-for): check namespaced imports
  lib/rules/prefer-wait-for.js
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix

fix(prefer-wait-for): remove unnecessary check
  lib/rules/prefer-wait-for.js
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix

fix: check namespaced imports (#102)
  lib/rules/no-debug.js
  lib/rules/prefer-wait-for.js
  tests/lib/rules/no-debug.js
  tests/lib/rules/prefer-wait-for.js
Due: eslint --fix

fix(no-debug): enable for angular
  lib/rules/no-debug.js
Due: eslint --fix

fix(no-debug): enable for angular (#104)
  lib/rules/no-debug.js
Due: eslint --fix

docs(prefer-presence-queries): fix examples
  docs/rules/prefer-presence-queries.md
Due: prettier --write

docs(prefer-presence-queries): fix examples (#106)
  docs/rules/prefer-presence-queries.md
Due: prettier --write

docs: adding contributing guidelines
  CONTRIBUTING.md
  package.json
Due: prettier --write

docs: fix contributing file links
  CONTRIBUTING.md
Due: prettier --write

docs: update adding new rules section in contributing
  CONTRIBUTING.md
Due: prettier --write

fix: add missing doc urls
  lib/rules/consistent-data-testid.js
  lib/rules/no-manual-cleanup.js
  tests/index.test.js
Due: eslint --fix

fix: add missing doc urls (#108)
  lib/rules/consistent-data-testid.js
  lib/rules/no-manual-cleanup.js
  tests/index.test.js
Due: eslint --fix

docs: PR feedback
  CONTRIBUTING.md
Due: prettier --write

docs: fix wrong PR suggestions
  CONTRIBUTING.md
Due: prettier --write

docs: More PR feedback
  CONTRIBUTING.md
Due: prettier --write

docs: add contributing guidelines (#107)
  CONTRIBUTING.md
  package.json
Due: prettier --write

refactor(await-async-query): remove redundant checks
  lib/rules/await-async-query.js
Due: eslint --fix

fix(await-async-query): check queries being called as member expressions
  lib/rules/await-async-query.js
  tests/lib/rules/await-async-query.js
Due: eslint --fix

fix(no-await-sync-query): prevent screen sync queries from using await
  lib/rules/no-await-sync-query.js
  tests/lib/rules/no-await-sync-query.js
Due: eslint --fix

docs(await-async-query): add valid and invalid examples using screen
  docs/rules/await-async-query.md
Due: prettier --write

docs(no-await-sync-query): add valid and invalid examples using screen
  docs/rules/no-await-sync-query.md
Due: prettier --write

fix: async checks when calling queries member expressions (#114)
  docs/rules/await-async-query.md
  docs/rules/no-await-sync-query.md
  lib/rules/await-async-query.js
  lib/rules/no-await-sync-query.js
  tests/lib/rules/await-async-query.js
  tests/lib/rules/no-await-sync-query.js
Due: eslint --fix, prettier --write

feat: add basic config for cypress
  README.md
  lib/index.js
Due: eslint --fix, prettier --write

style: configure and fix linting errors
  lib/node-utils.ts
  lib/rules/await-async-query.ts
  lib/rules/await-async-utils.ts
  lib/rules/await-fire-event.ts
  lib/rules/no-debug.ts
  lib/rules/no-dom-import.ts
  lib/rules/no-manual-cleanup.ts
  lib/rules/prefer-presence-queries.ts
  package-lock.json
  package.json
  tests/index.test.ts
  tests/lib/rules/no-dom-import.test.ts
  tsconfig.eslint.json
  yarn.lock
Due: none

build: compile code
  .gitignore
  .travis.yml
  package-lock.json
  package.json
Due: none

fix: get it to work
  lib/index.ts
  package-lock.json
  package.json
  tsconfig.json
Due: none

fix: something went wrong while merging
  lib/rules/consistent-data-testid.ts
  lib/rules/no-manual-cleanup.ts
Due: none

chore: 100% coverage
  lib/node-utils.ts
  lib/rules/await-fire-event.ts
  lib/rules/no-debug.ts
  lib/rules/no-dom-import.ts
  lib/rules/no-manual-cleanup.ts
  lib/rules/prefer-presence-queries.ts
  lib/rules/prefer-wait-for.ts
Due: none

fix: TS helper function
  tsconfig.json
Due: none

ci: update release stage
  .travis.yml
Due: none

ci: move build to release stage level
  .travis.yml
Due: none

fix: (no-manual-cleanup) match of undefined
  lib/rules/no-manual-cleanup.ts
  tests/lib/rules/no-manual-cleanup.test.ts
Due: none

fix(no-manual-cleanup): check require imports properly (#128)
  lib/rules/no-manual-cleanup.ts
  tests/lib/rules/no-manual-cleanup.test.ts
Due: none

fix(prefer-screen-queries): false positives when using within method
  docs/rules/prefer-screen-queries.md
  lib/rules/prefer-screen-queries.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: prettier --write

fix(prefer-screen-queries): false positives when using within method (#119)
  docs/rules/prefer-screen-queries.md
  lib/rules/prefer-screen-queries.ts
  tests/lib/rules/prefer-screen-queries.test.ts
Due: prettier --write
